@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(4, 109, 0) ;
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(51, 77, 49);
    
}



.basico {
    color: rgb(51, 77, 49);
    font-weight: bold ;

}

.intermediario {
    color: rgb(230, 214, 73);
}

.avancado {
    color: rgb(226, 60, 31);


}

.destaque {
    background-color: #c5c56070 ;
}